.about {
  padding: 80px 10%;
  background: transparent;
}

.about-container {
  max-width: 1000px;
  margin: auto;

  background: rgba(255, 255, 255, 0.6);
  padding: 50px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

/* TITLE */
.about h2 {
  font-size: 32px;
  color: #0f172a;
  margin-bottom: 25px;
  text-align: center;
}

/* PARAGRAPHS */
.about p {
  font-size: 17px;
  color: #334155;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: justify;
}