.footer {
  background: #0f172a;
  padding: 20px 10%;
  margin-top: 50px;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer p {
  color: white;
  font-size: 14px;
}

/* ICONS */
.footer-icons {
  display: flex;
  gap: 15px;
}

.footer-icons a {
  color: white;
  font-size: 20px;
  transition: 0.3s;
}

.footer-icons a:hover {
  color: #38bdf8;
}